.main {
  position: relative;
}

input {
  display: block;
  margin-top: 10px;
}

.canvas {
  width: 720px;
  height: 405px;
  border: 1px solid #000;
}

.inner{
  margin-left: auto;
  margin-right: auto;
}

.header{
  padding-top: 20px;
  padding-bottom: 20px;
}